@font-face {
    font-family: 'CamphorW01';
    src: local('Camphor W01 Regular'), local('CamphorW01-Regular'), url('../../fonts/CamphorW01-Regular.woff2') format('woff2'), url('../../fonts/CamphorW01-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CamphorW01';
    src: local('Camphor W01 Bold'), local('CamphorW01-Bold'), url('../../fonts/CamphorW01-Bold.woff2') format('woff2'), url('../../fonts/CamphorW01-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TTNorms';
    src: local('☞TT Norms Medium'), local('TTNorms-Medium'), url('../../fonts/TTNorms-Medium.woff2') format('woff2'), url('../../fonts/TTNorms-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CamphorW01';
    src: local('Camphor W01 Light'), local('CamphorW01-Light'), url('../../fonts/CamphorW01-Light.woff2') format('woff2'), url('../../fonts/CamphorW01-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CamphorW01';
    src: local('Camphor W01 Medium'), local('CamphorW01-Medium'), url('../../fonts/CamphorW01-Medium.woff2') format('woff2'), url('../../fonts/CamphorW01-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TTNorms';
    src: local('☞TT Norms Regular'), local('TTNorms-Regular'), url('../../fonts/TTNorms-Regular.woff2') format('woff2'), url('../../fonts/TTNorms-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: local('TiemposHeadline-Regular'), url('../../fonts/TiemposHeadline-Regular.woff2') format('woff2'), url('../../fonts/TiemposHeadline-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TTNorms';
    src: local('☞TT Norms Bold'), local('TTNorms-Bold'), url('../../fonts/TTNorms-Bold.woff2') format('woff2'), url('../../fonts/TTNorms-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}